<template>
  <div id="app">
    <table border="1" width="100%" style="border-collapse: collapse;">
      <tr>
        <th>User</th>
        <th>Todo</th>
        <th>Actions</th>
      </tr>
      <tr v-for="todo in todos" @keydown="this.console.log(todo)">
        <td>{{ todo.user.name }}</td>
        <td>{{ todo.text }}</td>
        <td>
          <input type="button" @click="selectTodo(contact)" value="Select" />
        </td>
      </tr>
    </table>
    <!-- <img src="./assets/logo.png" /> -->
    <!-- </br> -->
    <form>
      <label>User</label>
      <input type="text" name="userid" v-model="userId" />
      <!-- </br> -->

      <label>ToDo</label>
      <input type="text" name="text" v-model="text" />
      <!-- </br> -->

      <input v-if="!id" type="button" @click="createTodo(userId, text)" value="Add" />
      <input v-if="id" type="button" @click="createTodo(userId, text)" value="Update" />
      <input type="button" @click="clearForm()" value="Clear" />
    </form>
    <!-- <router-view /> -->
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "App",
  data() {
    return {
      todos: []
    };
  },
  apollo: {
    todos: gql`
      query findTodos {
        todos {
          text
          done
          user {
            name
            id
          }
        }
      }
    `
  },
  methods: {
    createTodo(userId, text) {
      console.log(`Create contact: ${userId}`);
      this.$apollo.mutate({
        mutation: gql`
          mutation createTodo($userId: String!, $text: String!) {
            createTodo(input: { text: $text, userId: $userId }) {
              user {
                id
              }
              text
              done
            }
          }
        `,
        variables: {
          userId: userId,
          text: text
        }
      });
      location.reload();
    },
    selectTodo(contact) {
      //   this.id = contact.id;
      this.userId = contact.userId;
      this.text = contact.text;
    },
    clearForm() {
      this.id = null;
      this.userId = "";
      this.text = "";
    }
  }
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

input {
  max-width: 500px;
}

.gray {
  color: #828282;
}

.orange {
  background-color: #ff6600;
}

.background-gray {
  background-color: rgb(246, 246, 239);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

.button {
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}
</style>
